<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Данные" data-toc-modified-id="Данные-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Данные</a></span></li><li><span><a href="#Цель" data-toc-modified-id="Цель-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Цель</a></span></li><li><span><a href="#Задания-Часть-1" data-toc-modified-id="Задания-Часть-1-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Задания Часть 1</a></span><ul class="toc-item"><li><span><a href="#Задание-1" data-toc-modified-id="Задание-1-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Задание 1</a></span></li><li><span><a href="#Задание-2" data-toc-modified-id="Задание-2-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Задание 2</a></span></li><li><span><a href="#Задание-3" data-toc-modified-id="Задание-3-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Задание 3</a></span></li><li><span><a href="#Задание-4" data-toc-modified-id="Задание-4-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Задание 4</a></span></li><li><span><a href="#Задание-5" data-toc-modified-id="Задание-5-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Задание 5</a></span></li><li><span><a href="#Задание-6" data-toc-modified-id="Задание-6-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Задание 6</a></span></li><li><span><a href="#Задание-7" data-toc-modified-id="Задание-7-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Задание 7</a></span></li><li><span><a href="#Задание-8" data-toc-modified-id="Задание-8-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Задание 8</a></span></li><li><span><a href="#Задание-9" data-toc-modified-id="Задание-9-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Задание 9</a></span></li><li><span><a href="#Задание-10" data-toc-modified-id="Задание-10-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>Задание 10</a></span></li><li><span><a href="#Задание-11" data-toc-modified-id="Задание-11-3.11"><span class="toc-item-num">3.11&nbsp;&nbsp;</span>Задание 11</a></span></li><li><span><a href="#Задание-12" data-toc-modified-id="Задание-12-3.12"><span class="toc-item-num">3.12&nbsp;&nbsp;</span>Задание 12</a></span></li><li><span><a href="#Задание-13" data-toc-modified-id="Задание-13-3.13"><span class="toc-item-num">3.13&nbsp;&nbsp;</span>Задание 13</a></span></li></ul></li><li><span><a href="#Задания-Часть-2" data-toc-modified-id="Задания-Часть-2-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Задания Часть 2</a></span><ul class="toc-item"><li><span><a href="#Задание-1" data-toc-modified-id="Задание-1-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Задание 1</a></span></li><li><span><a href="#Задание-2" data-toc-modified-id="Задание-2-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Задание 2</a></span></li><li><span><a href="#Задание-3" data-toc-modified-id="Задание-3-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Задание 3</a></span></li><li><span><a href="#Задание-4" data-toc-modified-id="Задание-4-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Задание 4</a></span></li><li><span><a href="#Задание-5" data-toc-modified-id="Задание-5-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Задание 5</a></span></li><li><span><a href="#Задание-6" data-toc-modified-id="Задание-6-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Задание 6</a></span></li><li><span><a href="#Задание-7" data-toc-modified-id="Задание-7-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>Задание 7</a></span></li></ul></li></ul></div>

# Исследование базы данных StackOverflow

## Данные

Самостоятельная работа основана на базе данных StackOverflow — сервиса вопросов и ответов о программировании.

Мы будем работать с версией базы, где хранятся данные о постах за 2008 год, но в таблицах есть  информация и о более поздних оценках, которые эти посты получили.

## Цель

Проект состоит из двух частей:

В первой части несколько задач в SQL-тренажёре, чтобы закрепить пройденный материал.

Вторая часть проекта — аналитическая.  


## Задания Часть 1


### Задание 1

Найдите количество вопросов, которые набрали больше 300 очков или как минимум 100 раз были добавлены в «Закладки»

In [ ]:
'''
SELECT COUNT(id)
FROM stackoverflow.posts
WHERE ((score > 300) OR (favorites_count >= 100)) AND (post_type_id = 1);
'''

### Задание 2

Сколько в среднем в день задавали вопросов с 1 по 18 ноября 2008 включительно? Результат округлите до целого числа

In [ ]:
'''
WITH question AS (SELECT COUNT(id) AS cnt_questions,
                  DATE_TRUNC('day', creation_date) AS dt
                  FROM stackoverflow.posts
                  WHERE(post_type_id = 1) AND (creation_date BETWEEN '2008-11-01' AND '2008-11-19')
                  GROUP BY DATE_TRUNC('day', creation_date))

SELECT ROUND(AVG(cnt_questions))
FROM question;
'''

### Задание 3

Сколько пользователей получили значки сразу в день регистрации?

Выведите количество уникальных пользователей

In [ ]:
'''
SELECT COUNT(DISTINCT user_id)
FROM stackoverflow.users u JOIN stackoverflow.badges b ON u.id=b.user_id
WHERE CAST(DATE_TRUNC('day',u.creation_date) AS date) =  CAST(DATE_TRUNC('day',b.creation_date) AS date);

'''

### Задание 4

Сколько уникальных постов пользователя с именем Joel Coehoorn получили хотя бы один голос?

In [ ]:
'''
SELECT COUNT(DISTINCT vj.post_id)
FROM (SELECT DISTINCT u.id AS user_id,
             p.id AS post_id
      FROM stackoverflow.posts p JOIN stackoverflow.users u ON p.user_id=u.id
      WHERE u.display_name = 'Joel Coehoorn') vj
RIGHT JOIN stackoverflow.votes v ON vj.post_id=v.post_id;
'''

### Задание 5

Выгрузите все поля таблицы vote_types. Добавьте к таблице поле rank, в которое войдут номера записей в обратном порядке. Таблица должна быть отсортирована по полю id

In [ ]:
'''
SELECT *,
       RANK() OVER(ORDER BY id DESC)
FROM stackoverflow.vote_types
ORDER BY id;
'''

### Задание 6

Отберите 10 пользователей, которые поставили больше всего голосов типа Close. Отобразите таблицу из двух полей: идентификатором пользователя и количеством голосов. Отсортируйте данные сначала по убыванию количества голосов, потом по убыванию значения идентификатора пользователя

In [ ]:
'''
SELECT v.user_id,
       COUNT(v.id)
FROM stackoverflow.votes v
JOIN stackoverflow.vote_types vt ON v.vote_type_id=vt.id
WHERE name = 'Close'
GROUP BY v.user_id
ORDER BY COUNT(v.id) DESC, v.user_id DESC
LIMIT 10;
'''

### Задание 7
Отберите 10 пользователей по количеству значков, полученных в период с 15 ноября по 15 декабря 2008 года включительно.

Отобразите несколько полей:
- идентификатор пользователя;
- число значков;
- место в рейтинге — чем больше значков, тем выше рейтинг.

Пользователям, которые набрали одинаковое количество значков, присвойте одно и то же место в рейтинге.

Отсортируйте записи по количеству значков по убыванию, а затем по возрастанию значения идентификатора пользователя

In [ ]:
'''
SELECT user_id,
       COUNT(id),
       DENSE_RANK() OVER (ORDER BY COUNT(id) DESC)
FROM stackoverflow.badges
WHERE creation_date::date BETWEEN '15-11-2008' AND '15-12-2008'
GROUP BY user_id
ORDER BY COUNT(id) DESC, user_id
LIMIT 10;
'''

### Задание 8

Сколько в среднем очков получает пост каждого пользователя?

Сформируйте таблицу из следующих полей:
- заголовок поста;
- идентификатор пользователя;
- число очков поста;
- среднее число очков пользователя за пост, округлённое до целого числа.

Не учитывайте посты без заголовка, а также те, что набрали ноль очков

In [ ]:
'''
SELECT title,
       user_id,
       score,
       ROUND(AVG(score) OVER(PARTITION BY user_id))
FROM stackoverflow.posts
WHERE title <> '' AND score <> 0;
'''

### Задание 9

Отобразите заголовки постов, которые были написаны пользователями, получившими более 1000 значков. Посты без заголовков не должны попасть в список

In [ ]:
'''
WITH top_users AS (SELECT  u.id,
                           COUNT(b.id) AS cnt_b
                   FROM stackoverflow.users u
                   JOIN stackoverflow.badges b ON u.id=b.user_id
                   GROUP BY u.id
                   HAVING COUNT(b.id) >= 1000)

SELECT title
FROM stackoverflow.posts p
JOIN top_users tu ON p.user_id=tu.id
WHERE title IS NOT NULL;
'''

### Задание 10

Напишите запрос, который выгрузит данные о пользователях из Канады (англ. Canada).

Разделите пользователей на три группы в зависимости от количества просмотров их профилей:
- пользователям с числом просмотров больше либо равным 350 присвойте группу 1;
- пользователям с числом просмотров меньше 350, но больше либо равно 100 — группу 2;
- пользователям с числом просмотров меньше 100 — группу 3.

Отобразите в итоговой таблице идентификатор пользователя, количество просмотров профиля и группу.

Пользователи с количеством просмотров меньше либо равным нулю не должны войти в итоговую таблицу

In [ ]:
'''
SELECT id AS user_id,
       views,
       CASE
           WHEN views >= 350 THEN 1
           WHEN 100 <= views AND views < 350 THEN 2
           WHEN views < 100 THEN 3
       END
FROM stackoverflow.users
WHERE location LIKE '%Canada%' AND views != 0
ORDER BY views DESC;
'''

### Задание 11

Дополните предыдущий запрос. Отобразите лидеров каждой группы — пользователей, которые набрали максимальное число просмотров в своей группе.

Выведите поля с идентификатором пользователя, группой и количеством просмотров.

Отсортируйте таблицу по убыванию просмотров, а затем по возрастанию значения идентификатора

In [ ]:
'''
WITH views_cnt AS (SELECT id AS user_id,
                                views AS views_cnt,

                          (CASE
                               WHEN views >= 350 THEN 1
                               WHEN 100 <= views AND views < 350 THEN 2
                               WHEN views < 100 THEN 3
                          END) AS groupss
                    FROM stackoverflow.users
                    WHERE location LIKE '%Canada%' AND views != 0
                    ORDER BY views DESC)
SELECT user_id,
       views_cnt,
       groupss
FROM (SELECT user_id,
       views_cnt,
       groupss,
       MAX(views_cnt) OVER (PARTITION BY groupss ORDER BY views_cnt DESC) AS max_views
       FROM views_cnt) AS tu
WHERE views_cnt = max_views
ORDER BY views_cnt DESC, user_id;
'''

### Задание 12
Посчитайте ежедневный прирост новых пользователей в ноябре 2008 года.

Сформируйте таблицу с полями:
- номер дня;
- число пользователей, зарегистрированных в этот день;
- сумму пользователей с накоплением.

In [ ]:
'''
WITH users_cnt AS (SELECT EXTRACT(DAY FROM creation_date) AS dt,
                          COUNT(id) AS cnt_users
                   FROM stackoverflow.users
                   WHERE creation_date BETWEEN '2008-11-01' AND  '2008-12-01'
                   GROUP BY EXTRACT(DAY FROM creation_date)
                   ORDER BY EXTRACT(DAY FROM creation_date))

SELECT *,
       SUM(cnt_users) OVER (ORDER  BY dt)
FROM users_cnt;
'''

### Задание 13

Для каждого пользователя, который написал хотя бы один пост, найдите интервал между регистрацией и временем создания первого поста.

Отобразите:
- идентификатор пользователя;
- разницу во времени между регистрацией и первым постом

In [ ]:
'''
WITH firts_post AS (SELECT user_id,
                           MIN(creation_date) AS first_post_date
                    FROM stackoverflow.posts
                    GROUP BY user_id)

SELECT user_id,
       p.first_post_date -u.creation_date
FROM stackoverflow.users u
JOIN firts_post p ON u.id=p.user_id;

'''

## Задания Часть 2

### Задание 1

Выведите общую сумму просмотров у постов, опубликованных в каждый месяц 2008 года.Если данных за какой-либо месяц в базе нет, такой месяц можно пропустить.

Результат отсортируйте по убыванию общего количества просмотров

In [ ]:
'''
SELECT CAST(DATE_TRUNC('month', creation_date) AS date),
       SUM(views_count)
FROM stackoverflow.posts
WHERE EXTRACT(YEAR FROM creation_date) = 2008
GROUP BY CAST(DATE_TRUNC('month', creation_date) AS date)
ORDER BY SUM(views_count) DESC;
'''

### Задание 2

Выведите имена самых активных пользователей, которые в первый месяц после регистрации (включая день регистрации) дали больше 100 ответов.

Вопросы, которые задавали пользователи, не учитывайте. Для каждого имени пользователя выведите количество уникальных значений user_id.

Отсортируйте результат по полю с именами в лексикографическом порядке

In [ ]:
'''
SELECT display_name,
       COUNT(DISTINCT p.user_id)
FROM stackoverflow.users u
JOIN stackoverflow.posts p ON u.id=p.user_id
JOIN stackoverflow.post_types pt ON p.post_type_id=pt.id
WHERE p.creation_date::date BETWEEN u.creation_date::date AND (u.creation_date::date + INTERVAL '1 month')
      AND pt.type LIKE 'Answer'
GROUP BY display_name
HAVING COUNT(p.id) > 100
ORDER BY display_name;
'''

### Задание 3

Выведите количество постов за 2008 год по месяцам.

Отберите посты от пользователей, которые зарегистрировались в сентябре 2008 года и сделали хотя бы один пост в декабре того же года.

Отсортируйте таблицу по значению месяца по убыванию

In [ ]:
'''
WITH sp_users AS (SELECT p.user_id
FROM stackoverflow.users u
JOIN stackoverflow.posts p ON u.id=p.user_id
WHERE p.creation_date BETWEEN '2008-12-01' AND '2008-12-30'
AND  u.creation_date::date BETWEEN '2008-09-01' AND '2008-10-01'
GROUP BY p.user_id)

SELECT CAST(DATE_TRUNC('month', p.creation_date) AS date),
       COUNT(p.id)
FROM stackoverflow.posts p
WHERE user_id IN (SELECT *
                  FROM sp_users)
GROUP BY CAST(DATE_TRUNC('month', p.creation_date) AS date)
ORDER BY CAST(DATE_TRUNC('month', p.creation_date) AS date) DESC;
'''

### Задание 4

Используя данные о постах, выведите несколько полей:
- идентификатор пользователя, который написал пост;
- дата создания поста;
- количество просмотров у текущего поста;
- сумма просмотров постов автора с накоплением.

Данные в таблице должны быть отсортированы по возрастанию идентификаторов пользователей, а данные об одном и том же пользователе — по возрастанию даты создания поста

In [ ]:
'''
SELECT user_id,
       creation_date,
       views_count,
       SUM(views_count) OVER (PARTITION BY user_id ORDER BY creation_date)
FROM stackoverflow.posts
ORDER BY user_id, creation_date;

'''

### Задание 5

Сколько в среднем дней в период с 1 по 7 декабря 2008 года включительно пользователи взаимодействовали с платформой?

Для каждого пользователя отберите дни, в которые он или она опубликовали хотя бы один пост.

Нужно получить одно целое число — не забудьте округлить результат

In [ ]:
'''
WITH dc_users AS (SELECT user_id,
                         COUNT(DISTINCT EXTRACT(DAY FROM creation_date)) AS cnt_dt
                  FROM stackoverflow.posts
                  WHERE creation_date::date BETWEEN '2008-12-01' AND '2008-12-07'
                  GROUP BY user_id)
SELECT ROUND(AVG(cnt_dt)) AS avg_dt
FROM dc_users

'''

### Задание 6

На сколько процентов менялось количество постов ежемесячно с 1 сентября по 31 декабря 2008 года?

Отобразите таблицу со следующими полями:
- Номер месяца.
- Количество постов за месяц.
- Процент, который показывает, насколько изменилось количество постов в текущем месяце по сравнению с предыдущим.

Если постов стало меньше, значение процента должно быть отрицательным, если больше — положительным. Округлите значение процента до двух знаков после запятой.

Напомним, что при делении одного целого числа на другое в PostgreSQL в результате получится целое число, округлённое до ближайшего целого вниз. Чтобы этого избежать, переведите делимое в тип numeric

In [ ]:
'''
SELECT EXTRACT(MONTH FROM creation_date),
       COUNT(id),
       ROUND(( COUNT(id)::numeric / LAG(COUNT(id)) OVER(ORDER BY EXTRACT(MONTH FROM creation_date)) - 1)*100, 2)
FROM stackoverflow.posts
WHERE (EXTRACT(MONTH FROM creation_date) BETWEEN 9 AND 12)
       AND (EXTRACT(YEAR FROM creation_date) = 2008)
GROUP BY EXTRACT(MONTH FROM creation_date)
'''

### Задание 7

Найдите пользователя, который опубликовал больше всего постов за всё время с момента регистрации.

Выведите данные его активности за октябрь 2008 года в таком виде:
- номер недели;
- дата и время последнего поста, опубликованного на этой неделе

In [ ]:
'''
WITH top_user AS (SELECT user_id
                  FROM stackoverflow.posts
                  GROUP BY user_id
                  ORDER BY COUNT(id) DESC
                  LIMIT 1)
SELECT MAX(creation_date),
       EXTRACT(WEEK FROM creation_date)
FROM stackoverflow.posts
WHERE EXTRACT(MONTH FROM creation_date) = 10
      AND EXTRACT(YEAR FROM creation_date) = 2008
      AND user_id IN((SELECT user_id
                  FROM stackoverflow.posts
                  GROUP BY user_id
                  ORDER BY COUNT(id) DESC
                  LIMIT 1))
GROUP BY EXTRACT(WEEK FROM creation_date)
ORDER BY EXTRACT(WEEK FROM creation_date)
'''