<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Данные" data-toc-modified-id="Данные-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Данные</a></span></li><li><span><a href="#Цель" data-toc-modified-id="Цель-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Цель</a></span></li><li><span><a href="#Задания" data-toc-modified-id="Задания-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Задания</a></span><ul class="toc-item"><li><span><a href="#Задание-1" data-toc-modified-id="Задание-1-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Задание 1</a></span></li><li><span><a href="#Задание-2" data-toc-modified-id="Задание-2-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Задание 2</a></span></li><li><span><a href="#Задание-3" data-toc-modified-id="Задание-3-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Задание 3</a></span></li><li><span><a href="#Задание-4" data-toc-modified-id="Задание-4-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Задание 4</a></span></li><li><span><a href="#Задание-5" data-toc-modified-id="Задание-5-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Задание 5</a></span></li><li><span><a href="#Задание-6" data-toc-modified-id="Задание-6-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Задание 6</a></span></li><li><span><a href="#Задание-7" data-toc-modified-id="Задание-7-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Задание 7</a></span></li><li><span><a href="#Задание-8" data-toc-modified-id="Задание-8-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Задание 8</a></span></li><li><span><a href="#Задание-9" data-toc-modified-id="Задание-9-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Задание 9</a></span></li><li><span><a href="#Задание-10" data-toc-modified-id="Задание-10-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>Задание 10</a></span></li><li><span><a href="#Задание-11" data-toc-modified-id="Задание-11-3.11"><span class="toc-item-num">3.11&nbsp;&nbsp;</span>Задание 11</a></span></li><li><span><a href="#Задание-12" data-toc-modified-id="Задание-12-3.12"><span class="toc-item-num">3.12&nbsp;&nbsp;</span>Задание 12</a></span></li><li><span><a href="#Задание-13" data-toc-modified-id="Задание-13-3.13"><span class="toc-item-num">3.13&nbsp;&nbsp;</span>Задание 13</a></span></li><li><span><a href="#Задание-14" data-toc-modified-id="Задание-14-3.14"><span class="toc-item-num">3.14&nbsp;&nbsp;</span>Задание 14</a></span></li><li><span><a href="#Задание-15" data-toc-modified-id="Задание-15-3.15"><span class="toc-item-num">3.15&nbsp;&nbsp;</span>Задание 15</a></span></li><li><span><a href="#Задание-16" data-toc-modified-id="Задание-16-3.16"><span class="toc-item-num">3.16&nbsp;&nbsp;</span>Задание 16</a></span></li><li><span><a href="#Задание-17" data-toc-modified-id="Задание-17-3.17"><span class="toc-item-num">3.17&nbsp;&nbsp;</span>Задание 17</a></span></li><li><span><a href="#Задание-18" data-toc-modified-id="Задание-18-3.18"><span class="toc-item-num">3.18&nbsp;&nbsp;</span>Задание 18</a></span></li><li><span><a href="#Задание-19" data-toc-modified-id="Задание-19-3.19"><span class="toc-item-num">3.19&nbsp;&nbsp;</span>Задание 19</a></span></li><li><span><a href="#Задание-20" data-toc-modified-id="Задание-20-3.20"><span class="toc-item-num">3.20&nbsp;&nbsp;</span>Задание 20</a></span></li><li><span><a href="#Задание-21" data-toc-modified-id="Задание-21-3.21"><span class="toc-item-num">3.21&nbsp;&nbsp;</span>Задание 21</a></span></li><li><span><a href="#Задание-22" data-toc-modified-id="Задание-22-3.22"><span class="toc-item-num">3.22&nbsp;&nbsp;</span>Задание 22</a></span></li><li><span><a href="#Задание-23" data-toc-modified-id="Задание-23-3.23"><span class="toc-item-num">3.23&nbsp;&nbsp;</span>Задание 23</a></span></li></ul></li></ul></div>

# Исследование данных об инвестиции венчурных фондов в компании-стартапы

## Данные

Самостоятельная работа основана на базе данных, которая хранит информацию о венчурных фондах и инвестициях в компании-стартапы, и основана на датасете Startup Investments https://www.kaggle.com/justinas/startup-investments.

## Цель

Проанализировать данные о фондах и инвестициях, произвести выгрузки данных и ответить на поставленные вопросы с помощью SQL.

## Задания


### Задание 1

Отобразите все записи из таблицы company по компаниям, которые закрылись

In [ ]:
'''
SELECT *
FROM company
WHERE status = 'closed';
'''

### Задание 2
Отобразите количество привлечённых средств для новостных компаний США. Используйте данные из таблицы company. Отсортируйте таблицу по убыванию значений в поле funding_total

In [ ]:
'''
SELECT funding_total
FROM company
WHERE country_code = 'USA'
      AND category_code = 'news'
ORDER BY funding_total DESC;
'''

### Задание 3
Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно

In [ ]:
'''
SELECT SUM(price_amount)
FROM acquisition
WHERE term_code = 'cash'
      AND EXTRACT(YEAR FROM CAST(acquired_at AS date)) BETWEEN 2011 AND 2013;
'''

### Задание 4

Отобразите имя, фамилию и названия аккаунтов людей в поле network_username, у которых названия аккаунтов начинаются на 'Silver'

In [ ]:
'''
SELECT first_name,
       last_name,
       network_username
FROM people
WHERE network_username LIKE 'Silver%';
'''

### Задание 5
Выведите на экран всю информацию о людях, у которых названия аккаунтов в поле network_username содержат подстроку 'money', а фамилия начинается на 'K'

In [ ]:
'''
SELECT *
FROM people
WHERE network_username LIKE '%money%'
      AND last_name LIKE 'K%';
'''

### Задание 6

Для каждой страны отобразите общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране. Страну, в которой зарегистрирована компания, можно определить по коду страны. Отсортируйте данные по убыванию суммы

In [ ]:
'''
SELECT country_code,
       SUM(funding_total)
FROM company
GROUP BY country_code
ORDER BY SUM(funding_total) DESC;
'''

### Задание 7

Составьте таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.
Оставьте в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению

In [ ]:
'''
SELECT funded_at,
       MIN(raised_amount),
       MAX(raised_amount)
FROM funding_round
GROUP BY funded_at
HAVING MIN(raised_amount) <> 0
       AND MIN(raised_amount) <> MAX(raised_amount);
'''

### Задание 8

Создайте поле с категориями:

- Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию high_activity.
- Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию middle_activity.
- Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию low_activity.

Отобразите все поля таблицы fund и новое поле с категориями.

In [ ]:
'''
SELECT *,
       CASE
           WHEN invested_companies >= 100 THEN 'high_activity'
           WHEN 20 <= invested_companies AND invested_companies < 100
           THEN 'middle_activity'
           ELSE 'low_activity'
       END
FROM fund;
'''

### Задание 9

Для каждой из категорий, назначенных в предыдущем задании, посчитайте округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие. Выведите на экран категории и среднее число инвестиционных раундов. Отсортируйте таблицу по возрастанию среднего

In [ ]:
'''
SELECT CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity,
       ROUND(AVG(investment_rounds)) AS avg_rounds
FROM fund
GROUP BY activity
ORDER BY avg_rounds;
'''

### Задание 10

Проанализируйте, в каких странах находятся фонды, которые чаще всего инвестируют в стартапы.

Для каждой страны посчитайте минимальное, максимальное и среднее число компаний, в которые инвестировали фонды этой страны, основанные с 2010 по 2012 год включительно. Исключите страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю.

Выгрузите десять самых активных стран-инвесторов: отсортируйте таблицу по среднему количеству компаний от большего к меньшему. Затем добавьте сортировку по коду страны в лексикографическом порядке

In [ ]:
'''
SELECT MIN(invested_companies),
       MAX(invested_companies),
       AVG(invested_companies) AS avg_company,
       country_code
FROM fund
WHERE EXTRACT(YEAR FROM CAST(founded_at AS date)) BETWEEN 2010 AND 2012
GROUP BY country_code
HAVING MIN(invested_companies) > 0
ORDER BY avg_company DESC, country_code
LIMIT 10;
'''

### Задание 11

Отобразите имя и фамилию всех сотрудников стартапов. Добавьте поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна

In [ ]:
'''
SELECT first_name,
       last_name,
       instituition
FROM people
LEFT JOIN education ON people.id = education.person_id;
'''

### Задание 12

Для каждой компании найдите количество учебных заведений, которые окончили её сотрудники.

Выведите название компании и число уникальных названий учебных заведений.

Составьте топ-5 компаний по количеству университетов

In [ ]:
'''
SELECT c.name,
       COUNT(DISTINCT e.instituition) AS quantity
FROM company AS c
JOIN people AS p ON c.id = p.company_id
JOIN education AS e ON p.id = e.person_id
GROUP BY c.name
ORDER BY quantity DESC
LIMIT 5;
'''

### Задание 13

Составьте список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним

In [ ]:
'''
SELECT name
FROM company
WHERE status = 'closed'
      AND id IN (SELECT company_id
                 FROM funding_round
                 WHERE is_first_round = 1
                 AND is_last_round = 1)
GROUP BY name;
'''

### Задание 14

Составьте список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем задании

In [ ]:
'''
SELECT id
FROM people
WHERE company_id IN (SELECT id
                     FROM company
                     WHERE status = 'closed'
                           AND id IN (SELECT company_id
                                      FROM funding_round
                                      WHERE is_first_round = 1
                                            AND is_last_round = 1)
                     );
'''

### Задание 15

Составьте таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник

In [ ]:
'''
SELECT DISTINCT p.id,
       e.instituition
FROM people AS p
JOIN education AS e ON p.id = e.person_id
WHERE p.id IN (
             SELECT id
             FROM people
             WHERE company_id IN (
                                  SELECT id
                                  FROM company
                                  WHERE status='closed'
                                        AND id IN (
                                                    SELECT company_id
                                                     FROM funding_round
                                                     WHERE is_first_round=1
                                                     AND is_last_round=1)
                                   )
              );
'''

### Задание 16

Посчитайте количество учебных заведений для каждого сотрудника из предыдущего задания. При подсчёте учитывайте, что некоторые сотрудники могли окончить одно и то же заведение дважды

In [ ]:
'''
SELECT p.id,
       COUNT(e.instituition)
FROM people AS p
INNER JOIN education AS e
ON p.id=e.person_id
WHERE p.company_id IN (
                   SELECT id
                   FROM company
                   WHERE status='closed'
                   AND id IN (
                          SELECT company_id
                          FROM funding_round
                          WHERE is_first_round=1 AND is_last_round=1
                             )
                       )
GROUP BY p.id;
'''

### Задание 17

Дополните предыдущий запрос и выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники разных компаний. Нужно вывести только одну запись, группировка здесь не понадобится

In [ ]:
'''
WITH i AS (SELECT p.id,
       COUNT(e.instituition)
FROM people AS p
INNER JOIN education AS e
ON p.id=e.person_id
WHERE p.company_id IN (
                   SELECT id
                   FROM company
                   WHERE status='closed'
                   AND id IN (
                          SELECT company_id
                          FROM funding_round
                          WHERE is_first_round=1 AND is_last_round=1
                             )
                       )
GROUP BY p.id)

SELECT AVG(count)
FROM i;
'''

### Задание 18

Напишите похожий запрос: выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники Socialnet

In [ ]:
'''
SELECT AVG(count)
FROM (SELECT p.id,
       COUNT(e.instituition)
FROM company AS c
JOIN people AS p ON c.id = p.company_id
JOIN education AS e ON p.id = e.person_id
WHERE c.name = 'Socialnet'
GROUP BY p.id) AS avg_soc;
'''

### Задание 19

Составьте таблицу из полей:
  - name_of_fund — название фонда;
  - name_of_company — название компании;
  - amount — сумма инвестиций, которую привлекла компания в раунде.

В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно

In [ ]:
'''
SELECT f.name AS name_of_fund,
       c.name AS name_of_company,
       fr.raised_amount AS amount
FROM investment AS i
LEFT JOIN company AS c ON i.company_id=c.id
LEFT JOIN fund AS f ON i.fund_id=f.id
LEFT JOIN funding_round AS fr ON i.funding_round_id = fr.id
WHERE c.milestones > 6
      AND EXTRACT(YEAR FROM CAST(funded_at AS date)) BETWEEN 2012 AND 2013;
'''

### Задание 20

Выгрузите таблицу, в которой будут такие поля:
- название компании-покупателя;
- сумма сделки;
- название компании, которую купили;
- сумма инвестиций, вложенных в купленную компанию;
- доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.

Не учитывайте те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключите такую компанию из таблицы.

Отсортируйте таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в лексикографическом порядке. Ограничьте таблицу первыми десятью записями

In [ ]:
'''
SELECT cmp.name AS name_acquiring_company,
       ac.price_amount,
       c.name AS name_acquired_company,
       c.funding_total,
       ROUND(ac.price_amount/c.funding_total)
FROM acquisition AS ac
LEFT JOIN company AS cmp ON ac.acquiring_company_id=cmp.id
LEFT JOIN company AS c ON ac.acquired_company_id=c.id
WHERE ac.price_amount > 0 AND c.funding_total > 0
ORDER BY ac.price_amount DESC, name_acquired_company
LIMIT 10;
'''

### Задание 21

Выгрузите таблицу, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год включительно.

Проверьте, что сумма инвестиций не равна нулю. Выведите также номер месяца, в котором проходил раунд финансирования

In [ ]:
'''
SELECT c.name,
       EXTRACT(MONTH FROM CAST(funded_at AS date))
FROM company AS c
LEFT JOIN funding_round AS fr ON c.id=fr.company_id
WHERE category_code = 'social'
      AND EXTRACT(YEAR FROM CAST(fr.funded_at AS date)) BETWEEN 2010 AND 2013
      AND fr.raised_amount <> 0;
'''

### Задание 22

Отберите данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды.

Сгруппируйте данные по номеру месяца и получите таблицу, в которой будут поля:
- номер месяца, в котором проходили раунды;
- количество уникальных названий фондов из США, которые инвестировали в этом месяце;
- количество компаний, купленных за этот месяц;
- общая сумма сделок по покупкам в этом месяце

In [ ]:
'''
WITH
fund_count AS (
               SELECT EXTRACT(MONTH FROM CAST(fr.funded_at AS date)) AS month_number,
                      COUNT(DISTINCT f.name) AS fund_count_USA
               FROM funding_round AS fr
               LEFT OUTER JOIN investment AS i
               ON fr.id=i.funding_round_id
               LEFT OUTER JOIN fund AS f
               ON i.fund_id=f.id
               WHERE f.country_code='USA'
               AND EXTRACT(YEAR FROM CAST(fr.funded_at AS date)) BETWEEN 2010 AND 2013
               GROUP BY  EXTRACT(MONTH FROM CAST(fr.funded_at AS date))
               ),
comp_count AS (
               SELECT EXTRACT(MONTH FROM CAST(acquired_at AS date)) AS month_number,
                      COUNT(id) AS company_count,
                      SUM(price_amount) AS total_amount
               FROM  acquisition
               WHERE EXTRACT(YEAR FROM CAST(acquired_at AS date)) BETWEEN 2010 AND 2013
               GROUP BY EXTRACT(MONTH FROM CAST(acquired_at AS date))
               )


SELECT fund_count.month_number,
       fund_count_USA,
       company_count,
       total_amount
FROM fund_count
LEFT JOIN comp_count
ON fund_count.month_number=comp_count.month_number;
'''

### Задание 23

Составьте сводную таблицу и выведите среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах.

Данные за каждый год должны быть в отдельном поле. Отсортируйте таблицу по среднему значению инвестиций за 2011 год от большего к меньшему

In [ ]:

'''
WITH
y_2011 AS (
           SELECT country_code,
                  AVG(funding_total) AS year_2011
           FROM company
           WHERE EXTRACT(YEAR FROM CAST(founded_at AS date)) = 2011
           GROUP BY country_code
           ),
y_2012 AS (
           SELECT country_code,
                  AVG(funding_total) AS  year_2012
           FROM company
           WHERE EXTRACT(YEAR FROM CAST(founded_at AS date)) = 2012
           GROUP BY country_code
           ),
y_2013 AS (
           SELECT country_code,
                 AVG(funding_total) AS year_2013
           FROM company
           WHERE EXTRACT(YEAR FROM CAST(founded_at AS date)) = 2013
           GROUP BY country_code
           )

SELECT y_2011.country_code,
       year_2011,
       year_2012,
       year_2013
FROM  y_2011 JOIN y_2012
ON y_2011.country_code=y_2012.country_code
INNER JOIN y_2013
ON y_2011.country_code=y_2013.country_code
ORDER BY year_2011 DESC;
'''